- if user_signed_in?
  %li.nav-item= link_to 'Notes', root_path, class: 'nav-link'
  %li.nav-item= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
- else
  %li.nav-item= link_to 'Login', new_user_session_path, class: 'nav-link'
